::-webkit-scrollbar-thumb {
    background-color: rgba(137, 81, 234, .99);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5e72e4;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: rgba(0, 0, 0, .12);
}

body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url(../paper/1.jpg); */
}

@keyframes font1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes font2 {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

@keyframes boxopen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes boxdown {
    0% {
        margin-top: -3em;
    }
    100% {
        margin-top: 4em;
    }
}

@keyframes zzb3 {
    0% {
        margin-top: -1000px;
    }
    100% {
        margin-top: -305px;
    }
}

@keyframes win-login {
    0% {
        margin-top: -1.5em;
    }
    100% {
        margin-top: -15em;
    }
}

#openbox {
    animation: boxopen 1.2s;
}

#downbox {
    animation: boxdown 1.2s;
}

.zzb1 {
    background-image: url(../paper/Windows-3.jpg);
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.zzb2 {
    display: none;
}

.zzb4 {
    display: none;
    margin-top: -305px;
    text-align: center;
    font-size: 15px;
    color: #000000;
    border-radius: 8px;
    margin: auto;
    background-color: #eeeeee;
    width: 10%;
    height: 250px;
}

.loading {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.loading i {
    margin: auto;
    position: absolute;
    top: calc(50% + 20px);
    left: calc(50% - 50px);
    width: 50px;
    height: 50px;
    display: block;
}

.loading span {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.loading span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 7px;
    height: 7px;
    background: var(--main, #00baff);
    border-radius: 50%;
}

.loading span:nth-child(1) {
    animation: i1 5.5s 0.2s infinite;
}

.loading span:nth-child(2) {
    animation: i2 5.5s 0.4s infinite;
}

.loading span:nth-child(3) {
    animation: i3 5.5s 0.6s infinite;
}

.loading span:nth-child(4) {
    animation: i4 5.5s 0.8s infinite;
}

.loading span:nth-child(5) {
    animation: i5 5.5s 1s infinite;
}

.loading span:nth-child(6) {
    animation: i6 5.5s 1.2s infinite;
}

@keyframes i1 {
    0% {
        opacity: 1;
        transform: rotate(190deg);
        animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        transform: rotate(450deg);
        animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    63% {
        opacity: 1;
        transform: rotate(800deg);
        animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
    }
    68% {
        opacity: 1;
        transform: rotate(920deg);
        animation-timing-function: ease-in;
    }
    69% {
        opacity: 0;
        transform: rotate(930deg);
    }
}

@keyframes i2 {
    0% {
        opacity: 1;
        transform: rotate(180deg);
        animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        transform: rotate(450deg);
        animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    63% {
        opacity: 1;
        transform: rotate(800deg);
        animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
    }
    68% {
        opacity: 1;
        transform: rotate(910deg);
        animation-timing-function: ease-in;
    }
    69% {
        opacity: 0;
        transform: rotate(920deg);
    }
}

@keyframes i3 {
    0% {
        opacity: 1;
        transform: rotate(170deg);
        animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        transform: rotate(450deg);
        animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    63% {
        opacity: 1;
        transform: rotate(800deg);
        animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
    }
    68% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-in;
    }
    69% {
        opacity: 0;
        transform: rotate(910deg);
    }
}

@keyframes i4 {
    0% {
        opacity: 1;
        transform: rotate(160deg);
        animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        transform: rotate(450deg);
        animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    63% {
        opacity: 1;
        transform: rotate(800deg);
        animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
    }
    68% {
        opacity: 1;
        transform: rotate(890deg);
        animation-timing-function: ease-in;
    }
    69% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@keyframes i5 {
    0% {
        opacity: 1;
        transform: rotate(150deg);
        animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        transform: rotate(450deg);
        animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    63% {
        opacity: 1;
        transform: rotate(800deg);
        animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
    }
    68% {
        opacity: 1;
        transform: rotate(880deg);
        animation-timing-function: ease-in;
    }
    69% {
        opacity: 0;
        transform: rotate(880deg);
    }
}

@keyframes i6 {
    0% {
        opacity: 1;
        transform: rotate(140deg);
        animation-timing-function: cubic-bezier(0.29, 0.44, 0.32, 0.74);
    }
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        transform: rotate(450deg);
        animation-timing-function: cubic-bezier(0.53, 0.27, 0.37, 0.81);
    }
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    63% {
        opacity: 1;
        transform: rotate(800deg);
        animation-timing-function: cubic-bezier(0.5, 0.32, 0.82, 0.54);
    }
    68% {
        opacity: 1;
        transform: rotate(870deg);
        animation-timing-function: ease-in;
    }
    69% {
        opacity: 0;
        transform: rotate(880deg);
    }
}

.login {
    display: none;
    align-items: center;
    text-align: center;
    background-color: #00000000;
    margin-top: -2.5em;
    text-shadow: 0px 0px 15px #fff;
}

.button-login {
    transition: all .3s ease;
    border-radius: 15px;
    background-color: #5f5f5f40;
    backdrop-filter: blur(20px);
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    box-shadow: 0px 0px 15px #fff;
}

.button-login:hover {
    transform: translateY(-4px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px #fff;
}

.zzb5 {
    background-image: url(../paper/avtor.jpg);
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#win-input {
    outline: none;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 0px 0px 20px aliceblue;
    height: 20px;
}

@keyframes wrongpass {
    20% {
        transform: translate(-8px);
    }
    60% {
        transform: translate(12px);
    }
    90% {
        transform: translate(-8px);
    }
    100% {
        transform: translate(4px);
    }
}

.login-doc {
    display: none;
    background-image: url(../paper/Windows-2.jpg);
}

#TaskBack {
    display: none;
    transition: all .3s ease;
    position: fixed;
    background-color: #ffffffbd;
    backdrop-filter: blur(40px);
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 46px;
    text-align: center;
    display: table-cell;
}

#Icon-1 {
    transition: all .3s ease;
    border-radius: 5px;
    background-color: #ffffff00;
    transform: translateY(-20px);
    height: 38.5px;
    border: 0;
    width: 40px;
    text-align: center;
    align-items: center;
}

#Icon-1:hover {
    background-color: #ffffffc2;
}

#Icon-1>img {
    width: 25px;
}

#icon-blue-1 {
    display: none;
    transform: translateX(4.5px);
    background-color: #0044ff;
    height: 4.8px;
    width: 23.9px;
    border-radius: 8px;
}

#icon-blue {
    transition: all .3s ease;
    transform: translateX(9px);
    background-color: #24edfc;
    height: 4.7px;
    width: 4.7px;
    border-radius: 8px;
}

#menu-1 {
    display: none;
    background-color: #f8f8f895;
    backdrop-filter: blur(40px);
    height: 520px;
    width: 450px;
    margin-left: 580px;
    margin-top: -600px;
    border-radius: 10px;
}

@keyframes Icon2 {
    0% {
        width: 25px;
    }
    50% {
        width: 10px;
    }
    100% {
        width: 25px;
    }
}