::-webkit-scrollbar-thumb {
    background-color: rgba(137, 81, 234, .99);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5e72e4;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: rgba(0, 0, 0, .12);
}

body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url(../paper/1.jpg); */
}

@keyframes font1 {
    0% {
        opacity: 0;
    }
}

@keyframes boxopen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes boxdown {
    0% {
        margin-top: -3em;
    }
    100% {
        margin-top: 4em;
    }
}

@keyframes zzb3 {
    0% {
        margin-top: -1000px;
    }
    100% {
        margin-top: -305px;
    }
}

#openbox {
    animation: boxopen 1.2s;
}

#downbox {
    animation: boxdown 1.2s;
}

.zzb1 {
    background-image: url(../paper/background.jpg);
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.zzb2 {
    display: none;
}

.zzb4 {
    display: none;
    margin-top: -305px;
    text-align: center;
    font-size: 15px;
    color: #000000;
    border-radius: 8px;
    margin: auto;
    background-color: #eeeeee;
    width: 10%;
    height: 250px;
}

#renwulan {
    position: fixed;
    display: none;
    /* visibility: hidden; */
    /* visibility: visible; */
    align-items: center;
    text-align: center;
    height: 45px;
    width: 100%;
    background-color: #aad2ff50;
    backdrop-filter: blur(20px);
    font-size: 35px;
    left: 0;
    bottom: 0;
}

.win-img {
    width: 28px;
}

button {
    background-color: #ffffff00;
    border: 0;
}

.win-div {
    height: 22px;
    transition: all .3s ease;
    align-items: left;
    text-align: left;
    padding-left: 8px;
    padding-top: 2px;
}

.win-div:hover {
    background-color: #8d8d8d;
}